{% load staticfiles %}
    <footer class="footer footer-style">
        <div class="footer__segment1 footer__segment1-style">
            <h3 class="footer__title1 footer__title1-style">О компании</h3>
            <p class="footer__text footer__text-style">Продукция АЛЬТЭКА присутствует на рынке фасадных
                металлоконструкций уже более 10-ти лет. За это время мы осуществили поставку более чем на 250
                строительных объектов в разных регионах.</p>
            <p class="footer__text footer__text-style">Наша продукция: <a href=""
                    class="footer__productLink footer__productLink-style">корзины</a>, <a href=""
                    class="footer__productLink footer__productLink-style">экраны</a>, <a href=""
                    class="footer__productLink footer__productLink-style">панели</a>, <a href=""
                    class="footer__productLink footer__productLink-style">кожух</a>, <a href=""
                    class="footer__productLink footer__productLink-style">короб для кондиционера</a>, а также <a href=""
                    class="footer__productLink footer__productLink-style">кронштейны</a> для крепления конструкции на
                фасад здания.</p>
            <a class="footer__logoLink" href="/"><img loading="lazy" class="footer__logo" src="{% static "img/logo-panel.png" %}" alt=""></a>
            <span class="footer__copyright footer__copyright-style">© 2020 «Альтэка». Все права защищены.</span>
        </div>
        <div class="footer__segment2 footer__segment2-style">
            <h3 class="footer__title2 footer__title2-style">Меню</h3>
            <ul class="footer__menu footer__menu-style footer__menu-left">
                <li class="footer__menuElement footer__menuElement-style"><a href="/products"
                        class="footer__menuLink footer__menuLink-style">Продукция</a></li>
                <li class="footer__menuElement footer__menuElement-style"><a href=""
                        class="footer__menuLink footer__menuLink-style">Конструкция</a></li>
                <li class="footer__menuElement footer__menuElement-style"><a href=""
                        class="footer__menuLink footer__menuLink-style">Производство</a></li>
                <li class="footer__menuElement footer__menuElement-style"><a href=""
                        class="footer__menuLink footer__menuLink-style">Доставка</a></li>
                <li class="footer__menuElement footer__menuElement-style"><a href=""
                        class="footer__menuLink footer__menuLink-style">Монтаж</a></li>
            </ul>
            <ul class="footer__menu footer__menu-style footer__menu-right">
                <li class="footer__menuElement footer__menuElement-style"><a href=""
                        class="footer__menuLink footer__menuLink-style">Галерея</a></li>
                <li class="footer__menuElement footer__menuElement-style"><a href=""
                        class="footer__menuLink footer__menuLink-style">Документация</a></li>
                <li class="footer__menuElement footer__menuElement-style"><a href=""
                        class="footer__menuLink footer__menuLink-style">Новости</a></li>
                <li class="footer__menuElement footer__menuElement-style"><a href=""
                        class="footer__menuLink footer__menuLink-style">Блог</a></li>
                <li class="footer__menuElement footer__menuElement-style"><a href=""
                        class="footer__menuLink footer__menuLink-style">FAQ</a></li>
            </ul>
        </div>
        <div class="footer__segment3 footer__segment3-style">
            <h3 class="footer__title3 footer__title3-style">Контакты</h3>
            <span class="footer__contact footer__contact-style">Адрес: <b>г.Уфа, ул. Набережная реки Уфы, 69/2</b></span>
            <span class="footer__contact footer__contact-style">Телефон: <b>8-800-600-64-40</b></span>
            <span class="footer__contact footer__contact-style">Электронная почта: <b>info@alteka.su</b></span>
            <span class="footer__contact footer__contact-style">Часы работы: <b>8:00 - 17:00 </b></span>
            <button class="btn-black btnCall-style footer__btnCall footer__btnCall-style">Заказать звонок</button>
            <div class="footer__socials">
                <a href="" class="footer__social footer__social-style"><i class="fab fa-vk"></i></a>
                <a href="" class="footer__social footer__social-style"><i class="fab fa-youtube"></i></a>
                <a href="" class="footer__social footer__social-style"><i class="fab fa-instagram"></i></a>
                <a href="" class="footer__social footer__social-style"><i class="fab fa-whatsapp"></i></a>
            </div>
            <a href="" class="footer__legal footer__legal-style footer__legal-1">Политика конфиденциальности</a>
            <a href="" class="footer__legal footer__legal-style footer__legal-2">Правовая информация</a>
        </div>
    </footer>