{% load staticfiles %}
    <section class="construction construction-style">
        <h2 class="construction__title construction__title-style">Конструкция</h2>
        
        <div class="construction__block construction__block-style">
            <h3 class="construction__blockTitle construction__blockTitle-style">Перфорация</h3>
            <p class="construction__text construction__text-style">
                Размер и рисунок перфорации мы подобрали таким образом, чтобы обеспечить беспрепятственный доступ
                воздуха к системе вентиляции, а также скрыть неэстетичный вид наружного блока и придать единый стиль
                всему фасаду здания.
            </p>
            <a href="" class="btn-black construction__button construction__button-style">Подробнее</a>
            <div class="construction__image construction__perfs construction__perfs-style">
                <div class="construction__perf">
                    <img loading="lazy" src="{% static "img/perf/round.png" %}" alt="">
                    <p class="construction__perfDesc"><b>Rq</b><br>Круглая с прямыми рядами отверстий</p>
                </div>
                <div class="construction__perf">
                    <img loading="lazy" src="{% static "img/perf/romb.png" %}" alt="">
                    <p class="construction__perfDesc"><b>Rq</b><br>Круглая с прямыми рядами отверстий</p>
                </div>
                <div class="construction__perf">
                    <img loading="lazy" src="{% static "img/perf/lines.png" %}" alt="">
                    <p class="construction__perfDesc"><b>Rq</b><br>Круглая с прямыми рядами отверстий</p>
                </div>
                <div class="construction__perf">
                    <img loading="lazy" src="{% static "img/perf/lines-vert.png" %}" alt="">
                    <p class="construction__perfDesc"><b>Rq</b><br>Круглая с прямыми рядами отверстий</p>
                </div>
                <div class="construction__perf">
                    <img loading="lazy" src="{% static "img/perf/quad.png" %}" alt="">
                    <p class="construction__perfDesc"><b>Rq</b><br>Круглая с прямыми рядами отверстий</p>
                </div>
                <div class="construction__perf">
                    <img loading="lazy" src="{% static "img/perf/round-shift.png" %}" alt="">
                    <p class="construction__perfDesc"><b>Rq</b><br>Круглая с прямыми рядами отверстий</p>
                </div>
                <div class="construction__perf">
                    <img loading="lazy" src="{% static "img/perf/quad.png" %}" alt="">
                    <p class="construction__perfDesc"><b>Rq</b><br>Круглая с прямыми рядами отверстий</p>
                </div>
                <div class="construction__perf">
                    <img loading="lazy" src="{% static "img/perf/round-shift.png" %}" alt="">
                    <p class="construction__perfDesc"><b>Rq</b><br>Круглая с прямыми рядами отверстий</p>
                </div>
            </div>
        </div>
        <div class="construction__block construction__block-style construction__block-2">
            <h3 class="construction__blockTitle construction__blockTitle-style">Варианты окрашивания</h3>
            <p class="construction__text construction__text-style">
                Изделия ALTEKA изготавливаются из оцинкованной дрессированной стали, специально под покраску. Готовые
                конструкции окрашиваются порошковой краской в цвета из каталога RAL. Поэтому корзины, экраны идеально
                вписываются в любой дизайн фасада здания.
            </p>
            <a href="" class="btn-black construction__button construction__button-style">Подробнее</a>
            <div class="construction__image construction__colors construction__colors-style" data-micromodal-trigger="modal-2">                                
            </div>
        </div>
        <div class="construction__block construction__block-style">
            <h3 class="construction__blockTitle construction__blockTitle-style">Размерный ряд</h3>
            <p class="construction__text construction__text-style">
                Для стандартной продукции ALTEKA: корзин, экранов, панелей или боксов, разработано 4 типовых размера.
                Это позволяет подобрать конструкцию для размещения кондиционера любой мощности и габаритов.
            </p>
            <a href="" class="btn-black construction__button construction__button-style">Подробнее</a>
            <div class="construction__image construction__image-style">
                <table class="construction__table construction__table-style">
                    <tr>
                        <th>Тип</th>
                        <th>КДК 1</th>
                        <th>КДК 2</th>
                        <th>КДК 3</th>
                        <th>КДК 4</th>
                    </tr>
                    <tr>
                        <td>Высота</td>
                        <td>600</td>
                        <td>700</td>
                        <td>900</td>
                        <td>1050</td>
                    </tr>
                    <tr>
                        <td>Ширина</td>
                        <td>900</td>
                        <td>900</td>
                        <td>1200</td>
                        <td>1300</td>
                    </tr>
                    <tr>
                        <td>Глубина</td>
                        <td>550</td>
                        <td>550</td>
                        <td>600</td>
                        <td>650</td>
                    </tr>
                </table>
            </div>
        </div>
        
    </section>