{% load staticfiles %}
    <section class="features features-style">
        <h2 class="features__title features__title-style">Преимущества</h2>
        <div class="features__cards features__cards-style">
            <div class="features__card features__card-style">
                <img loading="lazy" src="{% static "img/icons/metal.png" %}" alt="" class="features__icon features__icon-style">
                <h3 class="features__cardTitle features__cardTitle-style">Оцинкованная сталь</h3>
                <p class="features__cardText features__cardText-style">
                    Оцинкованная сталь повышает устойчивость металла к воздействию агрессивных сред, к процессам
                    ржавления.
                </p>
            </div>
            <div class="features__card features__card-style">
                <img loading="lazy" src="{% static "img/icons/paint.png" %}" alt="" class="features__icon features__icon-style">
                <h3 class="features__cardTitle features__cardTitle-style">Порошковая покраска</h3>
                <p class="features__cardText features__cardText-style">
                    Порошковая окраска более прочная, износостойкая и при этом не оказывает вредного воздействия на
                    экологию.
                </p>
            </div>
            <img loading="lazy" src="{% static "img/razrez_itog.png" %}" alt="" class="features__image features__image-style">
            <div class="features__card features__card-style">
                <img loading="lazy" src="{% static "img/icons/bolt.png" %}" alt="" class="features__icon features__icon-style">
                <h3 class="features__cardTitle features__cardTitle-style">Отсутствие сварки</h3>
                <p class="features__cardText features__cardText-style">
                    При сварке соединения более подвержены скорой коррозии, поэтому в изделиях используются болтовые
                    соединения.
                </p>
            </div>
            <div class="features__card features__card-style">
                <img loading="lazy" src="{% static "img/icons/pieces.png" %}" alt="" class="features__icon features__icon-style">
                <h3 class="features__cardTitle features__cardTitle-style">Сборная конструкция</h3>
                <p class="features__cardText features__cardText-style">
                    Сборно-разборная конструкция позволяет экономично складировать и транспортировать изделия.
                </p>
            </div>
            <div class="features__card features__card-style">
                <img loading="lazy" src="{% static "img/icons/bolt.png" %}" alt="" class="features__icon features__icon-style">
                <h3 class="features__cardTitle features__cardTitle-style">Отсутствие сварки</h3>
                <p class="features__cardText features__cardText-style">
                    При сварке соединения более подвержены скорой коррозии, поэтому в изделиях используются болтовые
                    соединения.
                </p>
            </div>
            <div class="features__card features__card-style">
                <img loading="lazy" src="{% static "img/icons/pieces.png" %}" alt="" class="features__icon features__icon-style">
                <h3 class="features__cardTitle features__cardTitle-style">Сборная конструкция</h3>
                <p class="features__cardText features__cardText-style">
                    Сборно-разборная конструкция позволяет экономично складировать и транспортировать изделия.
                </p>
            </div>
        </div>
    </section>