{% load staticfiles %}  
    <section class="firstScreen firstScreen-style">
        <h1 class="firstScreen__title firstScreen__title-style">Изготовление и монтаж<br><b>корзин для кондиционеров</b>
        </h1>
        <p class="firstScreen__text firstScreen__text-style">
            Назначение корзин для кондиционеров - замаскировать наружные блоки климатического оборудования, тем самым
            сохранив красивый фасад здания.
        </p>
        <a href="" class="btn-yellow firstScreen__button firstScreen__button-style">Оставить заявку</a>
        <img loading="lazy" src="{% static "img/wall_itog.png" %}" alt="" class="firstScreen__bannerImage">
    </section>