{% load staticfiles %}
    <section class="gallery gallery-style">
        <h2 class="gallery__title">Галерея</h2>
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="{% static "img/wall_itog.png" %}" alt="" class="swiper-slide-image-cover">
                </div>
                <div class="swiper-slide">
                    <img src="{% static "img/2.jpg" %}" alt="" class="swiper-slide-image-cover">
                </div>
                <div class="swiper-slide">
                    <img src="{% static "img/wall_itog.png" %}" alt="" class="swiper-slide-image-cover">
                </div>
                <div class="swiper-slide">
                    <img src="{% static "img/2.jpg" %}" alt="" class="swiper-slide-image-cover">
                </div>
                <div class="swiper-slide">
                    <img src="{% static "img/wall_itog.png" %}" alt="" class="swiper-slide-image-cover">
                </div>
                <div class="swiper-slide">
                    <img src="{% static "img/2.jpg" %}" alt="" class="swiper-slide-image-cover">
                </div>
                <div class="swiper-slide">
                    <img src="{% static "img/wall_itog.png" %}" alt="" class="swiper-slide-image-cover">
                </div>
                <div class="swiper-slide">
                    <img src="{% static "img/2.jpg" %}" alt="" class="swiper-slide-image-cover">
                </div> 
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-yellow"></div>
            <div class="swiper-button-prev swiper-button-yellow"></div>
          </div>
          <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="{% static "img/wall_itog.png" %}" alt="" class="swiper-slide-image-cover">
                </div>
                <div class="swiper-slide">
                    <img src="{% static "img/2.jpg" %}" alt="" class="swiper-slide-image-cover">
                </div>
                <div class="swiper-slide">
                    <img src="{% static "img/wall_itog.png" %}" alt="" class="swiper-slide-image-cover">
                </div>
                <div class="swiper-slide">
                    <img src="{% static "img/2.jpg" %}" alt="" class="swiper-slide-image-cover">
                </div>
                <div class="swiper-slide">
                    <img src="{% static "img/wall_itog.png" %}" alt="" class="swiper-slide-image-cover">
                </div>
                <div class="swiper-slide">
                    <img src="{% static "img/2.jpg" %}" alt="" class="swiper-slide-image-cover">
                </div>
                <div class="swiper-slide">
                    <img src="{% static "img/wall_itog.png" %}" alt="" class="swiper-slide-image-cover">
                </div>
                <div class="swiper-slide">
                    <img src="{% static "img/2.jpg" %}" alt="" class="swiper-slide-image-cover">
                </div>             
            </div>
          </div>
    </section>