{% load staticfiles %}
    <section class="news news-style">
        <h2 class="news__title" style="display: none;">Новости</h2>
        <div class="news__block news__block-style" style="display: none;">
            <img loading="lazy" src="{% static "img/razrez_itog.png" %}" alt="" class="news__image">
            <h3 class="news__blockTitle news__blockTitle-style"><a href="">Компания Альтэка работает в штатном режиме</a></h3>
            <p class="news__blockText news__blockText-style">
                Уважаемые партнеры! Несмотря на сложную обстановку, мы продолжаем нашу работу в обычном ритме.
            </p>
            <span class="news__date news__date-style">01.08.2020</span><a href="" class="news__more news__more-style">Читать далее</a>
        </div>
        <div class="news__block news__block-style" style="display: none;">
            <img loading="lazy" src="{% static "img/razrez_itog.png" %}" alt="" class="news__image">
            <h3 class="news__blockTitle news__blockTitle-style"><a href="">Компания Альтэка работает в штатном режиме</a></h3>
            <p class="news__blockText news__blockText-style">
                Уважаемые партнеры! Несмотря на сложную обстановку, мы продолжаем нашу работу в обычном ритме.
            </p>
            <span class="news__date news__date-style">01.08.2020</span><a href="" class="news__more news__more-style">Читать далее</a>
        </div>
        <div class="news__block news__block-style" style="display: none;">
            <img loading="lazy" src="{% static "img/razrez_itog.png" %}" alt="" class="news__image">
            <h3 class="news__blockTitle news__blockTitle-style"><a href="">Компания Альтэка работает в штатном режиме</a></h3>
            <p class="news__blockText news__blockText-style">
                Уважаемые партнеры! Несмотря на сложную обстановку, мы продолжаем нашу работу в обычном ритме.
            </p>
            <span class="news__date news__date-style">01.08.2020</span><a href="" class="news__more news__more-style">Читать далее</a>
        </div>
        <div class="news__articles news__articles-style">
            <h3 class="news__articleTitle">Статьи</h3>
            <span class="news__articleDate news__articleDate-style">01.08.2020</span>
            <a href="" class="news__article news__article-style">Как выбрать корзину для кондиционера</a>
            <span class="news__articleDate news__articleDate-style">01.08.2020</span>
            <a href="" class="news__article news__article-style">Как выбрать корзину для кондиционера</a>
            <span class="news__articleDate news__articleDate-style">01.08.2020</span>
            <a href="" class="news__article news__article-style">Как выбрать корзину для кондиционера</a>
            <span class="news__articleDate news__articleDate-style">01.08.2020</span>
            <a href="" class="news__article news__article-style">Как выбрать корзину для кондиционера</a>
        </div>
        <div class="news__specials news__specials-style">
            <h3 class="news__specialTitle">Акции</h3>
            <div class="news__specialWrap news__specialWrap-style">
                <a href="" class="news__special news__special-style">Бесплатная покраска при заказе от 100 корзин</a>
                <span class="news__specialDate news__specialDate-style">01.06 - 01.08</span>
            </div>
            <div class="news__specialWrap news__specialWrap-style">
                <a href="" class="news__special news__special-style">Бесплатная покраска при заказе от 100 корзин</a>
                <span class="news__specialDate news__specialDate-style">01.06 - 01.08</span>
            </div>
        </div>
        <form class="news__subscription news__subscription-style">
            <h3 class="news__subscriptionTitle">Подписка</h3>
            <p class="news__subscriptionText">
                Подпишитесь на e-mail рассылку, чтобы быть в курсе новостей и акций компании Альтека
            </p>
            <input type="text" class="news__email news__email-style" placeholder="info@alteka.su">
            <input type="submit" class="news__submit btn-black" value="Подписаться">
            <p class="news__personal videoBlock__formText-style2">
                Нажимая "Подписаться" вы даете согласие на обработку ваших <a href="" class="videoBlock__personal">персональных данных</a>
            </p>
        </form>
    </section>