{% load staticfiles %}
    <section class="trust trust-style">
        <h2 class="trust__title">Нам доверяют</h2>
        <div class="swiper-container trust-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-trust">
                    <img src="{% static "img/Nissan.png" %}" alt="" class="swiper-slide-image-contain">
                </div>
                <div class="swiper-slide swiper-slide-trust">
                    <img src="{% static "img/roscosmos.png" %}" alt="" class="swiper-slide-image-contain">
                </div>
                <div class="swiper-slide swiper-slide-trust">
                    <img src="{% static "img/logo-panel-yellow.png" %}" alt="" class="swiper-slide-image-contain">
                </div>
                <div class="swiper-slide swiper-slide-trust">
                    <img src="{% static "img/Nissan.png" %}" alt="" class="swiper-slide-image-contain">
                </div>
                <div class="swiper-slide swiper-slide-trust">
                    <img src="{% static "img/roscosmos.png" %}" alt="" class="swiper-slide-image-contain">
                </div>
                <div class="swiper-slide swiper-slide-trust">
                    <img src="{% static "img/logo-panel-yellow.png" %}" alt="" class="swiper-slide-image-contain">
                </div>
                <div class="swiper-slide swiper-slide-trust">
                    <img src="{% static "img/Nissan.png" %}" alt="" class="swiper-slide-image-contain">
                </div>
                <div class="swiper-slide swiper-slide-trust">
                    <img src="{% static "img/roscosmos.png" %}" alt="" class="swiper-slide-image-contain">
                </div>
                <div class="swiper-slide swiper-slide-trust">
                    <img src="{% static "img/logo-panel-yellow.png" %}" alt="" class="swiper-slide-image-contain">
                </div>
                
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>